.netsalary {
  width: 100%;
}

.netsalary_title {
  text-align: center;
  margin: 50px;
}

.netsalary_title h2 {
  color: #222;
  font-size: 30px;
  margin-bottom: 10px;
}

.netsalary_title p {
  color: #888;
  font-size: 16px;
  margin-top: 0;
}

.netsalary_input_box {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 20px;
}

.input_box_inner {
  padding: 36px 40px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.input_box_inner p {
  margin: 0;
  font-size: 15px;
  color: #222;
  font-weight: 700;
}

.input_box_inner input {
  height: 40px;
  border-radius: 10px;
  border: 1px solid #bebebe;
  padding-left: 10px;
  /* color: #bebebe; */
}

.input_box {
  display: flex;
  flex-direction: column;
}

.input_box input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #bebebe;
  padding-left: 10px;
  box-sizing: border-box;
}

/* .input_box_inner span {
  color: #888;
  font-size: 12px;
} */

/* 1. 전체 박스의 머리 라인을 맞춥니다 */
.Checklist {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 10px;
}

/* 2. 각 입력 영역(비과세, 부양가족, 자녀) 설정 */
.nonTaxable,
.responsibility_family,
.children {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* 3. 인풋창과 버튼 뭉치의 높이를 40px로 똑같이 맞춥니다 */
.nonTaxable input,
.btn_wrap {
  height: 40px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

/* 4. 핵심: span이 메시지가 없어도 18px 공간을 차지하게 함 */
.non,
.error {
  display: inline-block; /* span이 높이값을 가질 수 있게 변경 */
  min-height: 18px; /* 글자가 없어도 18px의 투명한 벽을 만듦 */
  margin-top: 6px;
  font-size: 12px;
  color: #888;
  margin-left: 4px;
}

.error {
  color: #ff4d4f; /* 에러 메시지 색상 */
}

.nonTaxable p {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 4px;
}

.nonTaxable input {
  height: 40px;
  border-radius: 10px;
  border: 1px solid #bebebe;
  padding-left: 10px;
  box-sizing: border-box;
}

.responsibility_family p,
.children p {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 4px;
}

.responsibility_family button,
.children button {
  width: 40px;
  height: 40px;
  border: 1px solid #bebebe;
  background-color: #f4f6f1;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}

.responsibility_family button.minus_Btn,
.children button.minus_Btn {
  font-size: 20px;
  color: #222;
  margin: 0;
}

.responsibility_family button.plus_Btn,
.children button.plus_Btn {
  font-size: 20px;
  color: #222;
  margin: 0;
}

.responsibility_family span,
.children span {
  padding: 18px;
}

.input_box_inner .total {
  font-size: 12px;
  color: #888;
  font-weight: 400;
  margin-left: 5px;
}

.input_box_inner button {
  height: 50px;
  border-radius: 10px;
  border: 1px solid #6a784d;
  background-color: #6a784d;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 10px;
}

.netsalary_result {
  width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #6a784d;
  background-color: #6a784d;
  color: #fff;
  /* padding: 30px 40px; */
  border-radius: 20px;
}

.netsalary_result_inner {
  padding: 30px 40px;
  gap: 6px;
  display: flex;
  flex-direction: column;
}

.netsalary_result p {
  margin: 0;
  color: #e3e3e3;
  font-size: 14px;
}

.netsalary_result h1 {
  margin: 0;
}

.netsalary_result span {
  margin: 0;
  color: #e3e3e3;
  font-size: 14px;
}

.netsalary_deduction {
  width: 1000px;
  margin: 16px auto 0;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.deduction_title {
  height: 36px;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 18px 30px;
  border-bottom: 1px solid #ececec;
  background-color: #6a784d;
}

.deduction_title span {
  margin: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.receipt_icon {
  width: 16px;
  height: 16px;
  color: #fff;
}

.deduction_item,
.deduction_total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  border-bottom: 1px solid #f3f3f3;
  padding: 6px 40px;
}

.deduction_total span:last-child {
  color: red;
}

.deduction_left {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 4px;
}

.deduction_name {
  color: #222;
  font-size: 16px;
  font-weight: 500;
}

.deduction_rate {
  font-size: 12px;
  color: #888;
  margin: 0;
}

.deduction_value {
  color: #222;
  font-size: 16px;
}

.deduction_total {
  font-weight: 700;
  border-bottom: none;
  background-color: #f4f6f1;
}

.netsalary_summation {
  width: 1000px;
  margin: 16px auto 0;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 20px;
}

.netsalary_summation p {
  font-weight: 500;
  padding: 18px 30px;
  margin: 0;
  font-size: 14px;
}

.summation_Before {
  color: #222;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  /* min-height: 30px; */
  text-align: center;
}

.summation_total {
  color: #222;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  /* min-height: 30px; */
  margin-bottom: 10px;
}

.summation_total span:last-child {
  color: red;
}

.summation_netsalary {
  color: #222;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  /* min-height: 30px; */
  margin: 0;
  font-weight: 600;
  background-color: #f4f6f1;
  border-top: 1px solid #f3f3f3;
  border-radius: 0 0 20px 20px;
  font-size: 16px;
  font-weight: 700;
}

.summation_netsalary span:last-child {
  color: #6a784d;
}

.netsalary_result_notice {
  width: 1000px;
  border-radius: 20px;
  background-color: #f4f6f1;
  border: 1px solid #d9d9d9;
  margin: 10px auto;
}

.notice_inner {
  padding: 18px 30px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #666;
}

.notice_inner p {
  margin: 0;
  font-size: 14px;
  color: #444;
}

.check_point_icon {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  color: #6a784d;
  position: relative;
  top: 2px;
}
