.calculator {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.calculator_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 100%;
}

.calculator_btn button {
  height: 34px;
  padding: 0 16px;
  border-radius: 999px;
  border: 1px solid #d9d9d9;
  background: #fff;
  font-size: 13px;
  cursor: pointer;
}

button.active {
  border: 1px solid #6a784d;
  background: #6a784d;
  color: #fff;
}

@media (max-width: 767px) {
  .calculator_btn button {
    padding: 0 10px;
    font-size: 11px;
  }
}
