body {
  background: #f6f6f6;
}

.header {
  height: 50px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.Header_right {
  display: flex;
}

.Header_right ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Header_right li {
  list-style: none;
  font-size: 14px;
  color: #444;
}
