.insurance {
  width: 100%;
}

.insurance_title {
  text-align: center;
  margin: 50px;
}

.insurance_title h2 {
  color: #222;
  font-size: 30px;
  margin-bottom: 10px;
}

.insurance_title p {
  color: #888;
  font-size: 16px;
  margin-top: 0;
}

.insurance_input_box {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 20px;
}

.insurance_input_box_inner {
  padding: 36px 40px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.insurance_input_box_inner p {
  margin: 0;
  font-size: 15px;
  color: #222;
  font-weight: 700;
}

.insurance_input_box_inner p span {
  font-size: 12px;
  margin-left: 5px;
  color: #666;
}

.input_box {
  display: flex;
  gap: 10px;
}

.input_box input {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #bebebe;
  padding-left: 10px;
  color: #bebebe;
  box-sizing: border-box;
}

.input_box button {
  width: 20%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #6a784d;
  background-color: #6a784d;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
}

.nonTaxable {
  margin-top: 10px;
}

.nonTaxable p {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 4px;
}

.nonTaxable input {
  height: 40px;
  border-radius: 10px;
  border: 1px solid #bebebe;
  padding-left: 10px;
  color: #bebebe;
  box-sizing: border-box;
}

.input_select {
  margin-top: 16px;
  padding: 20px 20px;
  background-color: #edf2e8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input_select span {
  margin-left: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #444;
}

.result_card {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 10px;
  overflow: hidden;
}

.result_header {
  width: 1000px;
  display: flex;
}

.result_header .header_inner {
  width: 100%;
  padding: 10px 40px;
  display: flex;
  background-color: #6a784d;
}

.result_header span {
  width: 86%;
  margin: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.result_header button {
  width: 14%;
  height: 36px;
  margin: 0;
  background-color: #6a784d;
  border: 1px solid #4e5839;
  border-radius: 10px;
  color: #222;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.3s ease;
}

.result_header button:hover {
  background-color: #fff;
  border: 1px solid #6a784d;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table_narrow th:first-child,
.table_narrow td:first-child {
  width: 80%; /* 항목 너비 */
}

.table_wide th:first-child,
.table_wide td:first-child {
  width: 52%; /* 항목 너비 */
}

thead th,
tbody td {
  padding: 12px 40px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #f3f3f3;
}

tbody td:not(:first-child),
thead th:not(:first-child),
tfoot td:not(:first-child) {
  text-align: right;
}

.tbody_rate {
  font-size: 12px;
  color: #888;
  margin: 0;
}

tfoot td {
  background-color: #f4f6f1;
}

tfoot td {
  padding: 20px 40px;
  text-align: left;
  font-weight: 600;
}

tfoot td:last-child {
  color: red;
}

.insurance_notice {
  width: 1000px;
  margin: 10px auto;
  background-color: #f4f6f1;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
}

.insurance_notice_inner {
  padding: 20px 40px;
  gap: 6px;
  display: flex;
  flex-direction: column;
}

.insurance_notice_inner p {
  margin: 0;
  font-size: 14px;
  color: #444;
}

.insurance_notice_inner span {
  color: #222;
  font-weight: 500;
}
